[2017-05-30 09:22] tchret opened #4 "example doesn't work"
[code]

should be

[code]

[2017-05-30 10:27] levrik commented on #4
Fixed. Thanks.
Will update on NPM with the next release of Material Design Icons.

[2017-05-30 10:27] #4 closed

[2017-06-09 11:12] tchret commented on #4
@levrik 👍

great package!

[2017-06-29 17:09] tchret opened #5 "Cannot find module 'mdi-react/ArrowRight'"
[code]

[2017-06-29 17:12] levrik commented on #5
Your using the wrong name :)

[code]

[2017-06-29 17:12] #5 closed

[2017-06-29 17:14] tchret commented on #5
hey, thanks! ;)

[2017-07-05 15:59] tchret opened #6 "cannot import ChevronDownIcon"

[2017-07-05 15:59] #6 closed

[2017-07-05 19:39] levrik commented on #6
@tchret Just curious. What was the problem here?

[2017-07-05 20:08] levrik commented on #5
Tried to make the naming clearer in 9fcb6f2

[2017-09-26 00:34] Falieson opened #7 "typescript support"
I've tried running dts-gen to resolve `cannot find module mdi-react` and just `declare module "mdi-react'";` neither of which works. dts-gen says it `couldn't load module "mdi-react"`

Thank you for your help...

[2017-11-07 18:56] jonotron opened #8 "incorrect icon for ImageIcon"
when using `ImageIcon` I am expecting to see

![material design icons 2017-11-07 10-54-10](https://user-images.githubusercontent.com/349600/32511873-006b845e-c3aa-11e7-8f3e-e8545dd78756.png)

But instead I get:

![storybook 2017-11-07 10-54-36](https://user-images.githubusercontent.com/349600/32511906-13f43200-c3aa-11e7-9f69-31137a8ff7f4.png)

I've cloned the repository and run `npm run build` and

[2017-11-07 19:03] levrik commented on #8
Indeed.. there is some difference between a freshly built version and version published on npm.
I will investigate why this happened and publish a fixed version very soon.

[2017-11-07 19:13] jonotron commented on #8
Great! Thanks for looking into it, and thanks for this package.

[2017-11-07 19:13] levrik commented on #8
Basically it's broken on `master` of `mdi` (https://github.com/Templarian/MaterialDesign/blob/89421efe9b30b3377f9203c8c8438381148a6df2/icons/svg/image.svg).
This repository was used to publish the latest version. There's a new repo now which contains a fixed version
(https://github.com/Templarian/MaterialDesign-SVG/blob/master/svg/image.svg). The `build` script is already using that but there was

[2017-11-07 19:16] jonotron commented on #8
I noticed that you are using version numbering that matches `mdi`/`mdi-svg`. Hopefully that doesn't cause problems for the npm publish.

[2017-11-07 19:44] levrik commented on #8
Yes.. actually that's a blocker for publishing a new version at the moment. I didn't expect to get into the situation where I need to publish a new version apart from a new `mdi` release.
I just published the hotfix as `2.0.46-hotfix.0` for now. You need to put this exact version into your `package.json` since actually it's a pre-release in the semver world.
Need to rethink my versioning but wante

[2017-11-07 19:44] #8 closed

[2017-11-07 19:46] levrik opened #9 "Rethink versioning"
See #8

**Edit:** Solution is on its way: https://github.com/levrik/mdi-react/issues/9#issuecomment-357510278

[2017-11-07 19:51] levrik commented on #9
When doing a `npm install mdi-react` or `yarn add mdi-react` I'm getting `2.0.46-hotfix.0` instead of `2.0.46`.
So maybe it's fine to use _pre-releases_ for hotfixes for now. Not the best way but hopefully it won't happen that often.
Leaving this issue open for suggestions.

[2017-11-07 20:06] jonotron commented on #8
Works great! Much thanks for the splendidly quick response

[2017-11-07 20:11] jonotron commented on #9
IMO, I don't think the versions need to line up with `mdi-sdk`/`mdi`... I can image situations when you want to add extra functionality to the components and that shouldn't be restricted by the versioning.

[2017-11-07 20:50] levrik commented on #9
@jonotron I've already thought about just providing the package which then downloads the latest version on install.
That's not an big issue for newly added icons but for example Google sometimes changes their icons (not sure if community icons getting changed). This could result in shipping a different looking icon to production than you have on your local dev machine or a test environment.
So tha

[2017-11-07 21:05] jonotron commented on #9
An inconsistency like that would be less than ideal. Wouldn't newly added icons not have a corresponding component then? I guess if the post install also ran the build.

If you clearly indicated which version of `mdi` was included in each version of `mdi-react` (and also bumped whenever `mdi` updates) the user can still choose.

[2017-11-07 21:07] levrik commented on #9
@jonotron Yes. That would be an option to maybe have something in the README which indicates which version of `mdi-react` includes which version of `mdi`.
Let me think about that. Will come back to it coming weekend.

[2017-12-13 10:15] levrik commented on #7
@Falieson I don't use Typescript so I cannot help there. Sorry. Feel free to submit a PR to add typescript support. There was already some work done in #2.

[2017-12-29 08:51] Klian opened #10 "Icon size"
Hi,

Thank your for the library!

One question... how can I set the size ?

[2018-01-13 06:15] ghufr commented on #10
You can use **width={64}** & **height={64}** or `style={{width: 64, height: 64}}`

but be able to set **size={64}** is more convenient, since material icon have 1:1 aspect ratio

[2018-01-14 11:59] levrik commented on #10
@ghufr Thank you for answering. I think adding a `size` prop is a good idea. I will add it with the next mdi update.

[2018-01-14 12:59] levrik commented on #9
@jonotron I decided on a versioning:

`mdi-react` gets it's own version number (starting from `3.0.0`) and I'm using the pre-release part for specifying the version of `mdi` itself.

Example `3.0.0-2.1.9`:
[code]

Without specifiying any version I'm getting the newest version of `mdi-react` with the newest version of `mdi`. If a new version of `mdi` comes out npm will flag the same `mdi-react` ver

[2018-01-17 22:14] jonotron commented on #9
This seems like a reasonable solution.

[2018-02-08 06:53] brianezequielfiszman opened #11 "Change color"
How do I change the color of each icon?

[2018-02-14 12:07] levrik commented on #11
You can change the color via CSS. Just use the `className` prop to assign a class and set the color as `fill: ...;` inside your CSS.

To change the default color just add the following rule to your CSS:

[code]

I'm planning to make this type of common customization easier in a future release so stay tuned.

[2018-02-20 15:21] lordnox commented on #7
Hi @levrik
If I create a pull request to ship a typings.d.ts you would merge it?
Because you declined #2
I would be happy to create one

[2018-02-20 15:28] levrik commented on #7
@lordnox Yes, please create one. I know TypeScript a bit better now so I can review it 🙂

[2018-02-20 16:48] lordnox commented on #7
Btw. I used this script to see the typings in my editor:
[code]

Both `width` fields were supposed to be `number`. The message was `true` is not assignable to type `number`.

[2018-02-22 20:37] bardleware commented on #11
@brianezequielfiszman you can use any property that an SVG element can use. So you could say
[code]
and the icon would get the fill color you give it.

[2018-02-23 05:27] levrik commented on #11
@bardleware Ah, yes. This should also be possible. Completely forgot about that.

[2018-02-26 23:29] felixfbecker commented on #9
That sounds like an abuse of prereleases that will take away benefits of semantic versioning.

Why not simply have mdi-react versioning be independent and the `mdi` SVGs be a proper npm `devDependency` (instead of a git submodule)? That way it is always clear what version of mdi a version of mdi-react is based on, while still allowing improvements in mdi-react itself that follow semantic versionin

[2018-02-27 17:03] levrik commented on #9
@felixfbecker Yeah, I know that this is kinda hacky but I couldn't find another good solution.

The goal was to be able to release `mdi-react` completely independent from `mdi`. That means that a user would be able to pick their combination of `mdi-react` and `mdi-react`. So I had this idea of using "abuse" pre-releases to achieve that. There were other ideas like just releasing some builder packa

[2018-02-28 06:17] foisonocean opened #13 "Provide es module built"
es module built make tree-shaking available in build tools like webpack/rollup

[2018-03-01 18:56] RavenHursT opened #14 "Consider using a font instead of individual svgs?"
Seems like these two issues would be much more simply addressed if this package just utilized an icon-font, that way text CSS props would just be inherited?
https://github.com/levrik/mdi-react/issues/11
https://github.com/levrik/mdi-react/issues/10

[2018-03-01 20:31] levrik commented on #14
I'm not a fan of icon fonts. There are so many reasons why they shouldn't be used anymore.
Both issues can manually be resolved. It's also possible to make SVG icons adapt the text properties.
I want to provide a better API with the next release and maybe I'm also going to add defaults to the icons that they adapt to the text around them 🙂

[2018-03-01 20:31] #14 closed

[2018-03-01 20:33] levrik commented on #13
good idea. could you prepare an PR?

[2018-03-02 03:16] foisonocean commented on #13
@levrik OK, I'll try

[2018-03-04 14:06] #13 closed

[2018-03-05 09:55] lordnox commented on #11
In #15 and #12 the property `color` is included

[2018-03-05 09:55] lordnox commented on #10
In #15 and #12 this property is included

[2018-03-05 10:02] levrik commented on #11
The property was added in 544b865a886fd87233e8fe4e0201832bd39286db but not released yet. I will close this issue as soon as the new version is released.

[2018-03-05 10:03] levrik commented on #10
The property was added in d5aac537dfcf800a1cdbc24975b4efcdb7766981 but not released yet. I will close this issue as soon as the new version is released.

[2018-03-05 11:09] levrik commented on #7
Typings were added in 46e7c3bd65f483758144c90f0f608c30737550f2 but not released yet. I will close this issue as soon as the new version is released.

[2018-03-06 13:41] laura-chesches opened #16 "Change color on hover"
Hello, is there any property to use if you want the icon to change the color on mouseover?

[2018-03-09 22:11] Templarian opened #17 "Update to 2.1.99"
Awesome project, adding this to the list of projects I'll try to track after each release.

Might be a good idea to use `mdi-svg` as dependency instead of as a folder like some of the other libraries do (ember for instance I think does this).

[2018-03-16 19:28] levrik commented on #17
Since I'm not shipping the original SVG files with this library (transforming them into SVG components instead) I won't include `mdi-svg` as an dependency. At the moment I'm trying to come up with some new versioning since the current one doesn't work well. See #9 for more information.

[2018-03-16 19:42] levrik commented on #16
Hey, you can do that via CSS. Just add an class via the `className` prop and define some CSS, e.g.:

[code]

[2018-03-16 23:32] levrik commented on #17
Release in 3.0.0

[2018-03-16 23:32] #17 closed

[2018-03-16 23:33] levrik commented on #11
Released in 3.0.0

[2018-03-16 23:33] #11 closed

[2018-03-16 23:33] levrik commented on #10
Released in 3.0.0

[2018-03-16 23:33] #10 closed

[2018-03-16 23:33] levrik commented on #9
Moved to just putting the version into the README. First released version is 3.0.0

[2018-03-16 23:33] #9 closed

[2018-03-16 23:34] levrik commented on #7
Released in 3.0.0

[2018-03-16 23:34] #7 closed

[2018-03-16 23:34] levrik commented on #13
Released in 3.0.0

[2018-03-17 18:49] felixfbecker commented on #9
Nice. Is there a reason for git submodules over a devDependency?

[2018-03-17 19:45] levrik commented on #9
See #17

[2018-03-18 08:31] laura-chesches commented on #16
Thanks. It works perfectly.

[2018-03-18 08:31] #16 closed

[2018-03-18 15:27] levrik opened #19 "Add docs about how to change color on hover"
See #16

[2018-03-19 20:55] felixfbecker commented on #17
Here are the benefits I see:
- `npm info react-mdi@$VERSION devDependencies.mdi` easily gives me the version of `mdi` a certain version of `react-mdi` was built from (which is more important now that the versioning is decoupled).
- A green devDependencies up-to-date badge can highlight in the readme that it is built from the latest mdi
- Greenkeeper/Renovate/... can do automatic PRs to update
- CI

[2018-04-12 10:01] martpie opened #20 "ES module syntax imports are significantly slower"
Hello :)

I am using Webpack 4, and:

[code]

is significantly slower (around 20 seconds?)

than importing icons that way:

[code]

The Webpack hint is:

[code]

[2018-04-12 16:43] levrik commented on #20
Hey there,
thanks for opening that issue.

Without investigating I would guess that the slow compilation time has to do with the parsing of that huge single icons module. If you import the icons via their direct import path you're only importing a small amount of code which gets processed faster.
The only thing which confuses me here is the hint by Webpack. I have no idea what than one means.

I w

[2018-04-12 16:46] levrik opened #21 "Update to mdi 2.2.43"

[2018-04-17 16:36] levrik commented on #21
Fixed by 63ae0f1e049c0b5fff3c10760d7ba0d9a245a43b

[2018-04-17 16:36] #21 closed

[2018-04-17 16:43] levrik opened #22 "Also make aliases available for import"

[2018-04-19 16:12] levrik commented on #20
@KeitIG Could you create an minimal example that reproduces this issue? Thanks!

[2018-04-19 16:12] KeitIG commented on #20
Hey!

Yep I will try to do a minimal repo with that problem

[2018-04-19 16:42] levrik commented on #7
@MrSchnitzel I saw that you've added TypeScript support in your fork. Can you try the latest 3.x? `mdi-react` comes with TS typings since 3.0.0 🙂

[2018-04-19 16:48] levrik commented on #20
Awesome, thanks.

[2018-04-20 08:25] levrik opened #23 "Support Preact"

[2018-04-21 15:09] levrik commented on #23
Released in 3.3.0

[2018-04-21 15:09] #23 closed

[2018-04-21 15:10] levrik commented on #22
Released in 3.3.0

[2018-04-21 15:10] #22 closed

[2018-04-23 13:37] MrSchnitzel commented on #7
Yhea I did, or at least i tried but it was only kind of a workaround.
Cool that u integrated it; nice to hear!
Thanks for the Update!
On Thu, Apr 19, 2018 at 6:43 PM Levin Rickert <notifications@github.com>
wrote:

[2018-04-23 22:05] felixfbecker commented on #20
My guess would be that the tree shaking in webpack only works well with ES6 modules, but react-mdi is only distributed as CommonJS modules. One possible solution would be to add a folder with the ESM versions and add a `module` field to package.json that points to the ESM index.js.

[2018-04-24 07:57] levrik commented on #20
@felixfbecker That's plainly wrong. `mdi-react` ships with ES modules since version 3.0.0

[2018-04-24 08:27] levrik commented on #20
@felixfbecker Ah. I didn't check if tree shaking is working after merging that PR because I trusted the contributor.
Then I'll have to experiment a bit with different types of builds. Planning that for the next weekend.
@KeitIG I think I just need a general tree shaking setup so you don't have to submit an example repo.

[2018-04-27 23:20] lenzi-erickson opened #28 "Add support for spin, rotate and flip"
I would like to be able to pass in spin, rotate and flip and it automatically have the appropriate styling. Basically adding the functionality of the helper css classes at the bottom of this page: https://cdn.materialdesignicons.com/2.3.54/

`<CarIcon spin={true} />`

`<CarIcon flip="h" />`
`<CarIcon flip="v" />`

`<CarIcon rotate={45} />`
`<CarIcon rotate={180} />`

[2018-05-06 17:01] levrik commented on #28
I'm not sure if I want to include that. That would make the individual components more complex and it can be easily achieved by attaching a custom CSS class.

[2018-05-06 20:26] Fsarmento opened #31 "accept helper CSS classes such as mdi-rotate-45 or mdi-spin"
Adding the following classes does not reflect any change in the icons

`<PlusCircleOutlineIcon className="mdi-rotate-45" size={16} />`
`<PlusCircleOutlineIcon className="mdi-spin" size={16} />`

It should work as shown at the end of [this](https://cdn.materialdesignicons.com/2.3.54/) page

[2018-05-09 00:26] lenzi-erickson opened #32 "Default color 'CurrentColor'"
Wouldn't it make more sense if the default color was 'CurrentColor' instead of black? That way it just defaults to the text color unless you pass a specific color.

[2018-05-09 04:09] levrik commented on #32
Sadly that's only possible with CSS and would make this library more complex.
There are simple examples how to achieve that in the README though.

[2018-05-09 14:47] lenzi-erickson commented on #32
I guess I don't see the need to add css. Just change
`{ color = '#000', size = 24, children, ...props }`
to
`{ color = 'currentColor, size = 24, children, ...props }`

That's what I was hoping for. I haven't tested it, but I think that should do the trick.

[2018-05-09 14:53] lenzi-erickson commented on #32
And you can do it with css like this
[code]
but then it overrides the color prop and you can no longer pass prop as a color. I was hoping to be able to have it default to the currentColor but still be able to pass a color prop to the icon.

[2018-05-09 15:02] levrik commented on #32
As I said, it's only possible with CSS.
The `color` prop just passes it's value to the `fill` prop of the SVG path. `currentColor` isn't supported there.
The README is all I can do without adding CSS stuff to the library itself.

[2018-05-28 13:10] HenriBeck opened #35 "Flow types"
Add `.js.flow` files for every Icon with the flow type

[2018-06-01 13:43] levrik commented on #35
@HenriBeck Since I'm not using flow type by myself it would be awesome if you could open a PR.

[2018-06-01 17:01] HenriBeck commented on #35
Ok, the only problem that might come up is that the components are generated twice, right? Once of the index module and once for the single files

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-14 16:28] AustinErck opened #36 "Generic icon element"
Add a generic `Icon` component that takes a prop called `icon` which allows us to dynamically change the icon based on a string.

[2018-06-14 19:02] levrik commented on #35
@HenriBeck Is that a problem for typings? It works fine for TypeScript.

[2018-06-14 19:09] levrik commented on #36
`mdi-react` uses inline SVG which makes it kinda difficult or even impossible to create a generic `Icon` component. For that an icon font or similar would be necessary.
I will close this for now.
But I'm curious: What's your use case you need a generic `Icon` component for?

[2018-06-14 19:09] #36 closed

[2018-06-14 19:12] HenriBeck commented on #35
Maybe, I haven't got around to work on this. I might have some time on the weekend.
Will let you know when I tested it.

[2018-06-14 19:37] johnlamont opened #37 "Getting 404 Not Found on npm install"
Here's the full log.

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\John Lamont\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'md-react' ]
2 info using npm@6.1.0
3 info using node@v8.11.2
4 verbose npm-session 2ee9b2d8c5f225d9
5 silly install loadCurrentTree
6 silly in

[2018-06-14 19:41] levrik commented on #37
You've tried to install `md-react` instead of `mdi-react` 🙂

[2018-06-14 19:41] #37 closed

[2018-06-14 20:43] AustinErck commented on #36
I wanted to create a custom button component with a couple things wrapped around a button. Currently I'm using a switch statement to select (from a small number of icons I need) the icon that appears in the button.

[2018-06-14 21:02] johnlamont commented on #37
Oooh,  Sorry bout that.  Just getting into React and my brain is properly
fried!

[image: photo]
JOHN LAMONT
Director of Development
610.628.1467 (Direct line)
<610.628.1467+(Direct+line)?utm_source=WiseStamp&utm_medium=email&utm_term=&utm_content=&utm_campaign=signature>
610.336.4822 (Office)
<610.336.4822+(Office)?utm_source=WiseStamp&utm_medium=email&utm_term=&utm_content=&utm_campaign=signatur

[2018-06-17 11:08] levrik commented on #36
I would suggest you to add an icon prop which accepts a component instead of a string.
Quick example: https://codesandbox.io/s/rk8xnrnyn

[2018-06-23 10:22] #19 closed

[2018-06-23 11:08] levrik commented on #32
Released in 4.0.0

[2018-06-23 11:08] #32 closed

[2018-07-06 22:28] jonotron opened #38 "DeleteOutlineIcon is not included"
I can get lots of the other `Delete` icons, but not the outline one. There are also lots of other `xOutline` icons.

Must have been forgotten?

[2018-07-06 22:31] jonotron commented on #38
Hmm... I see this is an upstream issue, https://github.com/Templarian/MaterialDesign-SVG/tree/master/svg also does not contain `DeleteOutline`

[2018-08-09 14:57] levrik commented on #38
That's fixed in the 4.1.0 release 🎉

[2018-08-09 14:57] #38 closed

[2018-11-07 18:30] levrik commented on #20
I removed ES modules in favor of the single packaged components in 5.0.0

[2018-11-07 18:30] #20 closed

[2018-12-03 17:22] levrik commented on #35
Hey @HenriBeck.
The index module got removed in 5.0.0
Maybe you want to try again with Flow typings?

[2019-03-06 09:19] ronnyandre opened #47 "Inserts SVG with Class attribute"
`Warning: Invalid DOM property 'class'. Did you mean 'className'?`

Is there some possibility to replace class with className?

[2019-03-06 09:23] levrik commented on #47
@ronnyandre Do you use Preact?

[2019-03-15 13:48] zozoens31 opened #48 "Allow props forwarded to the svg component in typescript"
Since we can forward props to the `svg` element (eg `style`), this should be reflected in the props type definition `MdiReactIconProps`.

To reproduce:
[code]

This raises a type-script error
[code]

[2019-04-12 05:47] choxnox opened #49 "Missing account-card-details-outline icon"
Icon `AccountCardDetailsOutline` is missing from the last release even though it was added to MDI on Feb 14th.

[2019-04-16 16:12] levrik commented on #48
You're right. I will take a look at #50 soon.

[2019-05-11 18:26] merisbahti opened #52 "Use react.memo for the icons to prevent re-renders?"
Have you considered adding React.memo to the icons to prevent unneccesary re-renders? As of right now react devtools always show icons re-rendering even though the dom does not change.

[2019-05-11 18:32] levrik commented on #52
That's a good idea.
`React.memo` wasn't available when I started the library.
Can you issue a PR with the change?
I would prefer it to be backwards-compatible to support older versions of React as well.

[2019-05-12 05:30] levrik commented on #47
@ronnyandre I can't help you if you don't answer.

[2019-05-13 08:18] ronnyandre commented on #47
@levrik No, I use this with Create React App.

[2019-05-13 12:29] levrik commented on #47
@ronnyandre That's weird. Did you install `mdi-preact` instead of `mdi-react` by accident?

[2019-05-13 17:34] merisbahti commented on #52
Done, thanks for the merge. Do you have any timeline for release? Thanks.

[2019-05-13 18:27] merisbahti opened #55 "Re-export all modules from an index.js file"
Hey, is there any specific reason we dont export all icons from an `index.js`-file?

I've created a fork which exports the icons using the `export {default as Icon} from './Icon'`-syntax. A great benefit from this would be easier import-syntax. Additionally, it enables bundlephobia analysis of this package (see https://bundlephobia.com/result?p=mdi-react).

Please see my pull-request:
https://gith

[2019-05-14 07:51] levrik commented on #55
That feature was removed in `5.0.0`, see https://github.com/levrik/mdi-react/commit/07ec6a17f10c5ec410736e57e6187287e24a32c1

[2019-05-14 08:17] levrik commented on #49
Should be available in `5.4.0`.

[2019-05-14 08:17] #49 closed

[2019-05-14 08:19] levrik commented on #52
Release in `5.4.0`. Thanks!

[2019-05-14 08:19] #52 closed

[2019-05-15 02:34] ArtemBernatskyy opened #56 "Element type is invalid: expected a string (for built-in components) or a class/function but got: object"
When upgrading to latest version I've got this errors.
When I remove mdi icons from component it goes away.

From `4.4.0` -> `5.4.0`

[2019-05-15 08:43] #55 closed

[2019-05-15 16:42] sawady commented on #56
Same problem

[2019-05-16 10:44] ArtemBernatskyy commented on #56
@sawady it is fixed via this https://stackoverflow.com/a/53061048/5751147
You need to have the same version of `react` and `react-dom`

[2019-05-16 10:44] #56 closed

[2019-05-16 11:15] levrik commented on #56
@ArtemBernatskyy @sawady `react` and `react-dom` should always be the same version. Please keep that in mind!

[2019-06-05 20:23] aztecrex opened #57 "Is the 360 icon missing a corresponding component"
I think the '360' icon doesn't have corresponding component.

[2019-06-06 21:56] #57 closed

[2019-06-07 05:33] levrik commented on #57
@aztecrex Why did you close it?

[2019-06-08 14:28] aztecrex commented on #57
Thanks @levrik, I should have commented, the report was a mistake. 360 turns out to be in a different icon set also called "material design." So of course it isn't supposed to be mapped in mdi-react.

[2019-06-16 11:05] ahmadkam72 opened #58 "Element type is invalid: expected a string"
Hi every guys
when I use this library and import icon and use in my render method, I faced with this error:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports.`
Can anyone help me to fix

[2019-06-16 11:08] levrik commented on #58
Can you post your code, please?

[2019-06-17 09:14] ahmadkam72 commented on #58
Its wired but when I test it again now,
it works with no error
`
import AccountOutlineIcon from 'mdi-react/AccountOutlineIcon';
import CashIcon from 'mdi-react/CashIcon';

class NewGoodForm extends PureComponent {
  static contextTypes = {
    router: PropTypes.objectOf(PropTypes.object),
  }

  constructor() {
    super();
    this.handleSubmit = this.handleSubmit.bind(this);
    this.handleInput

[2019-06-18 12:15] shubhanus opened #59 "Module parse failed: Unexpected keyword 'var'"
I am trying to use
[code]

in dev it is working fine but when i am trying to make production build it throws

[code]

[2019-06-18 12:57] levrik commented on #59
That looks like some issue on your bundler configuration. Please check!

[2019-06-18 12:59] levrik commented on #58
If it works, I'll close this issue.

[2019-06-18 12:59] #58 closed

[2019-07-14 14:00] levrik commented on #59
Were you able to resolve this issue?

[2019-07-19 10:25] levrik commented on #47
@ronnyandre I'll close this issue soon due to inactivity.

[2019-09-07 15:26] smeijer opened #65 "Update to mdi/svg 4.3.95"
@mdi is currently at `4.3.95`, while the used version is `3.7.95`. Can you bump it? I'm missing some icons in this package.

[2019-09-07 16:58] levrik commented on #65
Hey @smeijer. I know. The process of updating is quite annoying at the moment. Since I got an invitation to the GitHub Actions beta I'm experimenting with them to automate this process just right now.
See https://github.com/levrik/mdi-react/commit/15bda53be25538daad054979feb0587c4d67dd21/checks for a first run of the simple build process.
I hope that this is finished by the end of this weekend so

[2019-09-07 20:55] levrik commented on #65
`4.3.95` is included with `6.0.0`. The process is automated via GitHub Actions now so mdi updates should be on time in future.

[2019-09-07 20:55] #65 closed

[2019-09-09 10:54] smeijer commented on #65
A little off-topic, but where you able to automate it based on activity in the `mdi/svg` repo? Or does it still require a manual action in this repo?

Thanks for the update!

[2019-09-09 19:03] smeijer commented on #52
I don't think the overhead of memo, is worth it. Which case would rerender an icon unwillingly? And why wouldn't it be possible to catch those exceptions in the parent component?

Most applications have a lot of icons, with mostly the simple options like size and color, which are always equal by reference.

I would advise reading this post from Kent C. Dodds, and ask to reconsider the usage of rea

[2019-09-10 06:38] levrik commented on #65
Some explanation of the previous process:

I set up the Renovate bot to issue PRs if `@mdi/svg` updates. That is still the same now. Before I had to manually merge, update the changelog and readme and publish (building takes about 4 minutes). Also I had to publish two packages since this repo also publishes a version for Preact. It's not a that crazy process but it took time which often was missin

[2019-09-10 07:21] smeijer commented on #65
Sounds very awesome! I never thought of using Renovate to trigger the GitHub actions. Thanks for sharing.

[2019-09-10 07:26] levrik commented on #65
If you're curious. Here's the commit: https://github.com/levrik/mdi-react/commit/2ab666acfcb287acc4420f8eeca3fe451062e09b

[2019-09-10 10:35] levrik commented on #59
I'll close this issue now. If you're still experiencing this issue, let me know.

[2019-09-10 10:35] #59 closed

[2019-09-10 12:07] levrik commented on #47
Closing due to inactivity. Feel free to comment if you're still experiencing this issue.

[2019-09-10 12:07] #47 closed

[2019-09-10 12:09] levrik commented on #28
Closing since this would just blow up the icons in size. It can be easily achieved by using custom CSS.

[2019-09-10 12:09] #28 closed

[2019-09-11 07:17] merisbahti commented on #52
We’re not using useMemo, we’re using memo. It’s a completely different
thing. It’s not a hook. Imagine it’s like implementing
shouldComponentUpdate for functional components.

On Mon, 9 Sep 2019 at 21:03, Stephan Meijer <notifications@github.com>
wrote:

[2019-09-21 07:58] smeijer commented on #52
I'm aware it's a different thing, and I know what it does. But the same logic applies.

Memo adds overhead, and I'm not sure if it's worth the costs at the end of the tree. The svg node will never have any children. So this is the last component to optimize.

If an icon is being rerendered, it should be prevented by its parent. Now we add overhead to every icon on the page, because there might be

[2019-09-21 08:44] merisbahti commented on #52
The overhead it adds is an implicit ”shouldComponentUpdate” method that
looks like this: `() => false`. Note that for React.memo it’s more like an
”isEqual” method so the predicate is reversed.

On Sat, 21 Sep 2019 at 09:58, Stephan Meijer <notifications@github.com>
wrote:

[2019-09-21 09:46] merisbahti commented on #52
Right, so I'm back and I've created a simple app: https://github.com/merisbahti/perf-test-example.

It uses react-mdi version 5.3.0, since that's before `React.memo` was added, and the code basically looks like this:
[code]

So it's an simple app. We have one button to trigger some kind of re-render in the App component, one button to toggle between using memoized and not-memoized icons, and 10 ic

[2019-10-14 12:08] masbaehr commented on #55
If some one else stumbles across this i suggest to do the following (at least i cannot see any drawback yet)

One file to export all icons you need in your project. e.g named MdiIcons.js
[code]

[code]
This will avoid a lot of code duplication, and makes it possible to easily include icons without waiting for VSCode to index everything (intelli sense seems slow)

[2019-11-16 20:46] Slapbox opened #68 "Changelog is not friendly for developers deciding whether to upgrade"
It's painstaking to determine what's changed since the version you're currently using.  It also includes tons of unreleased changes. An overview of what's changed between minor and major versions is extremely important in my view. We can't upgrade because we don't have time to figure out what's changed.

[2019-11-19 14:21] levrik commented on #68
As mentioned in https://github.com/levrik/mdi-react/blob/master/CHANGELOG.md, only changes to this library itself are documented there. For changes on the actual icons, please refer to the changelog of `mdi` found [here](https://materialdesignicons.com/history).
You can find the version of `mdi` included in a release also on the changelog here.

[2019-11-30 16:20] #48 closed

[2019-11-30 17:26] levrik commented on #48
Released in `6.4.0`.

[2020-01-13 14:01] d4rky-pl opened #71 "mdi-react-native"
Hey! I love your library!

It would be amazing if other than `mdi-react` and `mdi-preact` there was a third option, `mdi-react-native`. The differences would be tiny:

- do not apply default className
- replace `svg` and `path` with `import Svg, { Path } from 'react-native-svg'`
- I'm not 100% sure right now but I think `fill` needs to be applied on `Path` instead of `Svg`

I'd love to send a PR b

[2020-01-13 15:40] levrik commented on #71
Hey there. Just leave the TypeScript typings out and open a PR. I'll add them to your PR.

[2020-02-05 08:46] levrik commented on #71
Any updates on this from your side?

[2020-02-05 11:10] d4rky-pl commented on #71
Sorry! We ultimately went with a different approach and I totally forgot about this 🤦‍♂
I'll take a look later today and will send a PR 👍

[2020-02-12 17:10] d4rky-pl commented on #71
Just to let you know, I remember about this issue but couldn't find time because of traveling 😅 Please keep it open!

[2020-03-09 08:51] masbaehr opened #75 "mdi-text-box icons are missing"
Hi, just updated to the shiny new version, but some things are not right now:

https://github.com/Templarian/MaterialDesign/issues/4901

For example all codepoints have been changed and some icons for example "TextBoxIcon" now produce the wrong icon according to

http://materialdesignicons.com/cdn/5.0.45/

[2020-03-09 08:58] levrik commented on #75
I don't fully get what the issue is here. Does `TextBoxIcon` differ from what you can see in the link you've posted?

[2020-03-09 09:01] masbaehr commented on #75
Hm i expected it to be like this:
![image](https://user-images.githubusercontent.com/38694044/76197646-d449bd80-61ec-11ea-85e6-f2644a3116aa.png)

But it seems that the actual error/confusion might not be in mdi-react but in materialdesignicons. Sorry for the trouble caused. Just to understand: When they change something in the codepoint, for mdi-react this does not matter? Then the issue can actua

[2020-03-09 09:03] masbaehr commented on #75
Strange thing i noted:
![image](https://user-images.githubusercontent.com/38694044/76197855-373b5480-61ed-11ea-9202-b0b6381a693b.png)

[2020-03-09 09:09] levrik commented on #75
The codepoints are used with the icon font. `mdi-react` exposes the SVG icons.
The `mdi-text-box` icon should be converted to `TextBoxIcon` and `mdi-textbox` to `TextboxIcon`.
Which doesn't really work for case insensitive file systems. But also from materialdesignicons' side this seems quite confusing. Maybe open an issue over at their repo. If they don't want to change this I'll think about a di

[2020-03-09 09:17] masbaehr commented on #75
Maybe for providing a temporary fix to this you could just make an exception for this one. An ugly but working solution is still better than no solution :) As far as i have seen, this is the ONLY case with this name clash

For example:
TextboxInputIcon

Probably at materialdesignicon they just think about css-classes when deciding for a name

[2020-05-25 22:53] jjarrett21 commented on #71
Any updates on this?

[2020-05-27 10:05] d4rky-pl commented on #71
To be honest due to the global pandemic and everything related to it, I completely forgot about this issue and the code I already had prepared.

I sent a PR #79, it still requires TS fixes though.

[2020-07-23 19:24] wmhartl opened #81 "Please specify entry point in package.json"
Please see this error here:
https://bundlephobia.com/result?p=mdi-react

"We could not guess a valid entry point for this package. Perhaps the author hasn't specified one in its package.json?"

Could you please add this property? Thanks in advance!

[2020-08-05 21:47] Templarian commented on #75
@levrik You can close this by the way. This was fixed upstream in 5.1+ months ago. `form-textbox` is the prefix. This was to prevent enum issues with `TEXTBOX` in other third party tooling. 👍

We also have added checks to prevent name collisions in the future.

[2020-10-03 17:34] davwheat opened #82 "Update to latest MDI"
There's been many MDI updates since the last package release. Could you update the version used in the package to the latest?

[2020-10-23 15:36] yanickrochon opened #83 "Prevent automatic icon resize"
Following [this](https://stackoverflow.com/questions/64502869/how-can-i-prevent-svg-elements-from-resizing-in-the-browser?noredirect=1#comment114055556_64502869) question on StackOverflow, I found an error that should be fixed. The line [here](https://github.com/levrik/mdi-react/blob/e4943f0a60a05247eb172125bf7d3d6c4395af28/scripts/generate-react.js#L9) should change from :

[code]
to
[code]

[2020-10-23 15:41] levrik commented on #82
Hey. Sorry for that. Looks like the automatic pipeline to detect upstream updates was broken due to updated permissions on the Renovate GitHub app that I've missed. I've just accepted the updated permissions and expect updates to be pushed again.

[2020-10-23 15:42] levrik commented on #75
@masbaehr Can you confirm this to be fixed in newer versions?

[2020-10-23 15:44] yanickrochon commented on #83
Created the issue too soon (when will I learn?) Still, there is a fundamental flaw with how the browser display SVG under some conditions, and this should get resolved. I just don't know how at this time.

[2020-10-23 15:54] davwheat commented on #82
Woohoo! Thanks.

[2020-10-23 16:23] masbaehr commented on #75
I think it is fine now thus im closing the issue. Although i migrated to mdi-material-ui in the meantime as it supports tree-shaking

[2020-10-23 16:23] #75 closed

[2020-10-23 19:39] levrik commented on #82
Looks like the update didn't trigger after approving the updated permissions. I've just triggered a manual update, released as 7.4.0

[2020-10-23 19:39] #82 closed

[2021-02-10 11:17] mrvisser opened #84 "Generate an index.js"
I think it would improve developer experience if there was an index file where each icon was exported, as opposed to all default exports.

At least for VSCode, I can start typing `ServerNe...`, then VSCode will suggest the icon, then I hit enter and it automatically adds the import statement. This doesn't work unfortunately with default exports.

Would you accept a PR that generates an index file

[2021-03-03 11:56] rendomnet commented on #59
@shubhanus how did you resolved this?

[2021-03-09 13:04] levrik commented on #82
Looks like Renovate has changed some behavior on when creating PRs for a specific setting I've used in my setup so it sadly still wasn't fixed. New versions will be regularly released from now on again.

[2021-03-09 13:06] #68 closed

[2021-06-10 11:37] siropkin opened #88 "HelpOutlineIcon looks exact like HandshakeOutlineIcon"
This is how `HelpOutlineIcon` looks in `mdi-react` before v7.5.0:
![image](https://user-images.githubusercontent.com/39134915/121518199-e1a9b500-c9f8-11eb-9bea-4c4019553c61.png)

And this is how `HelpOutlineIcon` looks in `mdi-react` v7.5.0:
![image](https://user-images.githubusercontent.com/39134915/121518215-e706ff80-c9f8-11eb-805f-88eab0b550c5.png)

`HelpOutlineIcon` in `mdi-react` v7.5.0 looks

[2021-07-06 06:16] levrik commented on #88
This seems to be an upstream issue.
![image](https://user-images.githubusercontent.com/9491603/124551268-2d9e1d00-de32-11eb-85b3-3140b14dc17f.png)
![image](https://user-images.githubusercontent.com/9491603/124551308-3a227580-de32-11eb-8313-017ab5d03786.png)

Both icons seem to have the same alias assigned which causes issues during generation of this library.
Try to use `HelpCircleOutlineIcon` ins

[2021-09-16 16:23] ianstormtaylor commented on #84
Please reconsider this. (It seems like it was removed?) Not having decent autocomplete is the only thing that would prevent me from using this library.

If it's a bundle size concern I think you could just explain how to ensure small sizes with treeshaking?

[2021-10-13 18:39] limitedmage opened #89 "Some icons not available"
Some icons, such as [`weather-cloudy-clock`](https://materialdesignicons.com/icon/weather-cloudy-clock), are not available with this library. Maybe the library is outdated?

[2021-10-18 18:06] renovate opened #91 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/levrik/mdi-react).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

This reposito

[2021-10-19 14:56] limitedmage commented on #89
@levrik  Thank you, I'll take a look! Are there any breaking changes in v8?

[2021-10-19 15:06] levrik commented on #89
@limitedmage A major version bump of `mdi` causes a major version bump of `mdi-react` as well. No changes in `mdi-react` itself. Please check out the changes of `mdi`. I'm guessing some icons were removed and/or some were replaced by updated versions.

[2022-01-18 09:18] zachsa opened #94 "package.json exports field support"
Hi,

I can see that the package contains a js file for each Icon with a default export, which seems very clear.

Is it feasible to add an exports field to package.json to resolve entry points for each .js file?

[2022-01-18 09:19] zachsa commented on #81
I think this could be solved via using the package.json exports field - https://github.com/levrik/mdi-react/issues/94

[2022-06-18 04:20] inimist opened #98 "How to set title attribute on an icon?"
Is it possible to set "title" attribute on icon to show tooltip. Is there a list of attributes an icon component supports?

[2022-06-30 07:04] levrik commented on #98
All icon components support all props a standard SVG element supports. This also includes `title`.

[2022-06-30 07:04] #98 closed

[2022-08-25 17:15] esdmr opened #102 "Support TypeScript `module: node16`/`nodenext`"
With `"module": "node16"` and `"nodenext"`, TypeScript supports the CJS/ESM resolution of Node.JS. Unfortunately, this means that some CJS packages will not work in this mode because they use default exports. See <https://github.com/microsoft/TypeScript/issues/49271#issuecomment-1139688063>.

This can be fixed if all `export default` were changed to `export =`. I see that they are generated in `sc

[2022-08-26 06:32] #102 closed

[2022-10-27 13:25] acooo1 commented on #98
@levrik `title` is not a valid `<svg>` attribute. It is not supported by browser and will then not display a tooltip. Setting this prop should instead pass a `<title>` element as a child of the `<svg>`.

[2022-10-27 13:59] levrik commented on #98
@acooo1 I wasn't aware of this. Could you file a new issue as that one here is specifically asking about the `title` attribute.

[2022-10-28 09:22] acooo1 opened #104 "Support tooltip display by passing a title child element"
As explained in [this comment](https://github.com/levrik/mdi-react/issues/98#issuecomment-1293569958), `title` is not a valid `svg` attribute and will then not display a tooltip on icon hover. Setting `title` prop should instead add a `<title>` child element as follow:

[code]
resulting in:
[code]

[2022-10-28 09:24] acooo1 commented on #98
Issue opened